@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  padding-right: 20px;
}

circle {
  cursor: pointer;
}
#svgCanvas {
  position: relative;
}

.first-circle {
  transition: fill 0.3s ease;
}

.pointer {
  cursor: pointer;
}
