@tailwind base;
@tailwind components;
@tailwind utilities;

.container-fluid {
  @apply pr-4;
}

.svg-canvas-container {
  @apply absolute left-0 top-0 h-full w-full cursor-crosshair [&_.first-circle]:cursor-pointer;
}

.icon-hover {
  @apply transition-all hover:bg-primary/80 [&_path]:hover:fill-white;
}

.icon-hover-text {
  @apply transition-all hover:bg-primary/80 [&_path]:hover:text-white;
}

.v-toast.v-toast--top {
  z-index: 999999;
}
.v-toast__item--success {
  background-color: #47d78a !important;
}
.color {
  color: #cb443529;
}
