@tailwind base;
@tailwind components;
@tailwind utilities;

.container-fluid {
  @apply pr-4;
}

.svg-canvas-container {
  @apply absolute left-0 top-0 h-full w-full cursor-crosshair [&_.first-circle]:cursor-pointer;
}

.icon-hover {
  @apply transition-all hover:bg-primary/80 [&_path]:hover:fill-white;
}

.icon-hover-text {
  @apply transition-all hover:bg-primary/80 [&_path]:hover:fill-white [&_path]:hover:text-white;
}

.sidebar-item-icon {
  @apply h-fit cursor-pointer border border-r-0 border-primary p-1 transition-all first:rounded-l-sm last-of-type:rounded-r-sm last-of-type:border-r hover:text-white [&_svg]:h-3 [&_svg]:w-3;
}

.label {
  @apply mb-1 text-xs capitalize text-gray-600;
}

.v-toast.v-toast--top {
  z-index: 999999;
}
.v-toast__item--success {
  background-color: #47d78a !important;
}
.color {
  color: #cb443529;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.4s ease;
  transform: translateX(0);
}

.slide-left-enter-from,
.slide-left-leave-to {
  transition-delay: 0s;
  transform: translateX(100%);
}

.fade-in-out-enter-active,
.fade-in-out-leave-active {
  transition: opacity 0.2s ease;
}

.fade-in-out-enter-from,
.fade-in-out-leave-to {
  opacity: 0;
}

.test {
  color: #ffff0062;
}
