@tailwind base;
@tailwind components;
@tailwind utilities;

.container-fluid {
  @apply pr-4;
}

.svg-canvas-container {
  @apply absolute left-0 top-0 h-full w-full cursor-crosshair [&_.first-circle]:cursor-pointer;
}

.icon-hover {
  @apply transition-all hover:bg-primary/80 [&_path]:hover:fill-white;
}

.svgicon-hover-text {
  @apply transition-all hover:bg-primary/80 [&_path]:hover:fill-white [&_path]:hover:text-white;
}

.sidebar-item-svgicon {
  @apply h-fit cursor-pointer !border !border-r-0 !border-solid !border-primary p-1 !transition-all first:rounded-l-sm last-of-type:rounded-r-sm last-of-type:!border-r hover:text-white [&_svg]:h-3 [&_svg]:w-3;
}

.label {
  @apply !mb-1 text-xs capitalize text-gray-600;
}

.v-toast.v-toast--top {
  z-index: 999999;
}
.v-toast__item--success {
  background-color: #47d78a !important;
}
.color {
  color: #cb443529;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.4s ease;
  transform: translateX(0);
}

.slide-left-enter-from,
.slide-left-leave-to {
  transition-delay: 0s;
  transform: translateX(100%);
}

.fade-in-out-enter-active,
.fade-in-out-leave-active {
  transition: opacity 0.2s ease;
}

.fade-in-out-enter-from,
.fade-in-out-leave-to {
  opacity: 0;
}

.custom-scroll ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scroll ::-webkit-scrollbar-track {
  border-radius: 99px;
  width: 6px;
  background-color: rgb(244, 244, 244);
  opacity: 0.1;
}

.custom-scroll ::-webkit-scrollbar-thumb {
  background: rgb(164, 163, 163);
  border-radius: 10px;
}

#ire-vue-app h1,
#ire-vue-app h2,
#ire-vue-app h3,
#ire-vue-app h4,
#ire-vue-app h5,
#ire-vue-app h6,
#ire-vue-app p,
#ire-vue-app pre,
#ire-vue-app a,
#ire-vue-app strong,
#ire-vue-app sub,
#ire-vue-app sup,
#ire-vue-app b,
#ire-vue-app u,
#ire-vue-app i,
#ire-vue-app ol,
#ire-vue-app ul,
#ire-vue-app li,
[id^="ire-shortcode-"] h1,
[id^="ire-shortcode-"] h2,
[id^="ire-shortcode-"] h3,
[id^="ire-shortcode-"] h4,
[id^="ire-shortcode-"] h5,
[id^="ire-shortcode-"] h6,
[id^="ire-shortcode-"] p,
[id^="ire-shortcode-"] pre,
[id^="ire-shortcode-"] a,
[id^="ire-shortcode-"] strong,
[id^="ire-shortcode-"] sub,
[id^="ire-shortcode-"] sup,
[id^="ire-shortcode-"] b,
[id^="ire-shortcode-"] u,
[id^="ire-shortcode-"] i,
[id^="ire-shortcode-"] ol,
[id^="ire-shortcode-"] ul,
[id^="ire-shortcode-"] li {
  margin: unset;
  padding: unset;
  border: unset;
  font-size: unset;
}

#ire-vue-app input,
[id^="ire-shortcode-"] input {
  /* all: unset; */
  box-sizing: border-box;
}
